$laptop: 990px;
$tablet: 767px;
$mobile: 560px;

.header {
  padding: 40px 0;
}

// carousel
.header__carousel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  width: 100%;
  height: 450px;

  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    width: 100%;
    height: 100%;
  }

  .header__space {
    overflow: hidden;
    width: 100%;
    position: relative;
    height: 100%;

    .header__capsule {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 300%;
      position: absolute;
      height: 100%;
      transition: var(--transition);

      .header__item {
        width: 100%;
        height: 100%;
        cursor: pointer;

        .header__image {
          width: 100%;
          height: 100%;
          border-radius: 15px;
        }
      }
    }
  }

  .header__button {
    cursor: pointer;
    height: 100%;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    border: 1px solid var(--light-gray);
    background-color: var(--light);
    font-size: 22px;

    &:hover {
      background-color: var(--light-gray);
    }
  }

  @media (max-width: $laptop) {
    height: 400px;
  }

  @media (max-width: $tablet) {
    height: 350px;
  }

  @media (max-width: $mobile) {
    height: 300px;
  }
}

.header__dots {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 5px;
  padding: 20px 0;

  .header__dot {
    height: 8px;
    width: 30px;
    background-color: var(--light-gray);
    cursor: pointer;
    transition: var(--transition);

    &.header__dot--active {
      background-color: var(--dark);
    }
  }
}
