// not empty

// variables

:root {
  --emphasis: #f86800;
  --light: #fafbfc;
  --dark: #0f0f11;
  --light-gray: #e2e6e9;
  --dark-gray: #89939a;
}

$laptop: 990px;
$tablet: 767px;
$mobile: 560px;

// font

@import 'https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap';

// global settings

* {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: Montserrat, sans-serif;
  background-color: var(--light);
  color: var(--dark);
}

.container {
  width: 90%;
  max-width: 1136px;
  margin: 0 auto;
  display: flex;
}

// header & navbar

.navbar {
  height: 86px;
  background-color: white;
  overflow: hidden;
  border-bottom: 1px solid var(--light-gray);

  .navbar__container {
    display: flex;
    gap: 20px;
    height: 100%;
    align-items: center;

    .navbar__menu {
      display: flex;
      gap: 50px;
      height: 100%;

      .navbar__item {
        height: 100%;

        .navbar__link {
          position: relative;
          color: var(--dark-gray);
          text-transform: uppercase;
          height: 100%;
          display: flex;
          align-items: center;
          font-weight: 600;
          font-size: 12px;

          &:hover {
            color: var(--dark);

            &::after {
              content: '';
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              height: 4px;
              background-color: var(--dark);
            }
          }
        }

        &.navbar__item--active {
          .navbar__link {
            color: var(--dark);

            &::after {
              content: '';
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              height: 4px;
              background-color: var(--dark);
            }
          }
        }
      }

      @media (max-width: $laptop) {
        display: none;
        padding-top: 40px;

        &.navbar__menu--active {
          display: flex;
          flex-direction: column;
          align-items: center;
          position: absolute;
          top: 87px;
          gap: 20px;
          left: 0;
          width: 100%;
          bottom: 0;
          z-index: 100;
          background-color: white;

          .navbar__item {
            height: 30px;

            &.navbar__item--active {
              .navbar__link {
                &::after {
                  background-color: transparent;
                }
              }
            }
          }
        }
      }
    }

    .navbar__icons {
      display: flex;
      gap: 40px;
      height: 100%;
      margin-left: auto;
      padding-right: 25px;

      .navbar__icon {
        height: 100%;
        display: flex;
        align-items: center;
        cursor: pointer;
      }

      @media (max-width: $laptop) {
        display: none;

        &.navbar__icons--active {
          display: flex;
          justify-content: space-between;
          position: absolute;
          background-color: white;
          bottom: 0;
          left: 0;
          right: 0;
          height: 60px;
          z-index: 120;

          .navbar__icon {
            width: 50%;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }

    .navbar__toggle {
      display: none;
      margin-left: auto;
      height: 100%;
      padding-right: 25px;
      padding-left: 25px;
      border: none;
      background-color: transparent;
      cursor: pointer;

      .navbar__button {
        width: 24px;
        height: 24px;
      }

      @media (max-width: $laptop) {
        display: flex;
        align-items: center;
      }
    }
  }
}
